body {
  font-family: DM Sans;
  font-weight: 500;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
}
// вставка
a {
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

button {
  border-radius: 22px;
  border-color: transparent;

  &:hover {
    cursor: pointer;
  }
}

img {
  display: block;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: $mobile) {
    width: 320px;
  }

  @media screen and (min-width: $tablet) {
    width: 768px;
    padding-left: 34px;
    padding-right: 34px;
  }

  @media screen and (min-width: $desktop) {
    width: 1200px;
    padding-left: 75px;
    padding-right: 75px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
