body {
  font-family: DM Sans;
  font-weight: 500;
}

a {
  text-decoration: none;
  outline: none;
  color: currentColor;
  cursor: pointer;
}

svg,
a {
  display: block;
}

button {
  border-radius: 21px;
  border-color: transparent;

  &:hover {
    cursor: pointer;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
p {
  padding: 0px;
  margin: 0px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: $mobile) {
    width: 320px;
  }

  @media screen and (min-width: $tablet) {
    width: 768px;
    padding-left: 34px;
    padding-right: 34px;
  }

  @media screen and (min-width: $desktop) {
    width: 1200px;
    padding-left: 75px;
    padding-right: 75px;
  }
}
