$box-shadow: rgba(212, 20, 67, 0.1);
$main-color: #ffffff;
$main-text-color: #907E82;
$secondary-text-color: #000000;
$accent-color: #d41443;
$secondary-bg-color: #FFF5F6;
$main-btn-color-focus: #c7133e;
$secondary-btn-color-focus: #ecebeb;

//
//          #D41342; кнопка Our Locations
//     #C2E297;салат
//     #F0D1A5; охра
//      #FFA5BA; розовый
//    //      #FFB8CA; ярко-розовый бэк
//       #E17992;бургер бэк
//       #E18298; бордер бургер меню
//      #FEA5BB;-соц сети
/
//
//     #FFFFFF; белый
//     #E1E1E1; кавычки, линии подчёркивания
//     #FAFAFA; слайдер бэк
//
//     #D9D9D9;-точки под слайдером
//
