
<footer class="page-footer" id="footer">
  <div class="container inner">
    <div class="slogan">
      <p class="text-work">homemade ice cream made</p>
      <p class="desc">with passion</p>
    </div>
    <div class="socials-container">
      <ul class="socials-net list">
        <li class="net-item">
          <a class="link-net bordo-link" href="#">
            <svg class="github-net">
              <use href="../src/images/sprite.svg#Github"></use>
            </svg>
          </a>
        </li>
        <li class="net-item">
          <a class="link-net bordo-link" href="#">
            <svg class="telegram-net">
              <use href="../src/images/sprite.svg#Telegram"></use>
            </svg>
          </a>
        </li>
        <li class="net-item">
          <a class="link-net bordo-link" href="#">
            <svg class="facebook-net">
              <use href="../src/images/sprite.svg#Facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="contact-footer">
      <span class="contact-text">Feel free to contact</span>
      <a class="footer-tel" href="tel:+610383766284" id="#footer"
        >+61 (0) 383 766 284</a
      >
    </div>
  </div>
</footer>
<div class="post-footer">
  <p class="copy">© 2019 - IceCream. All Rights Reserved.</p>
</div>
