<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>footer</title>
  </head>
  <body>
    <footer class="page-footer">
      <div class="container">
        <div class="page-footer__slogan">
          <p>homemade ice cream made</p>
          <p>with passion</p>
        </div>
        <div class="page-footer__socials-container">
          <ul class="socials-net list">
            <li class="socials-net__item">
              <a
                class="socials-net__link socials-net__link--gray--pink"
                href="#"
              >
                <svg width="34" height="34">
                  <use href="../src/images/sprite.svg#Github"></use>
                </svg>
              </a>
            </li>
            <li class="socials-net__item">
              <a class="socials-net__link socials-net__link--gray" href="#">
                <svg width="34" height="34">
                  <use href="../src/images/sprite.svg#Telegram"></use>
                </svg>
              </a>
            </li>
            <li class="socials-net__item">
              <a class="socials-net__link socials-net__link--gray" href="#">
                <svg width="34" height="34">
                  <use href="../src/images/sprite.svg#Facebook"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <span
          >Feel free to contact
          <a href="tel:+610383766284">+61 (0) 383 766 284</a></span
        >
        <p>© 2019 - IceCream. All Rights Reserved.</p>
      </div>
    </footer>
    <script src="./index.js"></script>
  </body>
</html>

<div class="our-team__socials-container">
  <ul class="socials-net list">
    <li class="socials-net__item">
      <a class="socials-net__link socials-net__link--gray" href="#">
        <svg width="20" height="20">
          <use href="./images/sprite.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li class="socials-net__item">
      <a class="socials-net__link socials-net__link--gray" href="#">
        <svg width="20" height="20">
          <use href="./images/sprite.svg#icon-twitter"></use>
        </svg>
      </a>
    </li>
    <li class="socials-net__item">
      <a class="socials-net__link socials-net__link--gray" href="#">
        <svg width="20" height="20">
          <use href="./images/sprite.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
    <li class="socials-net__item">
      <a class="socials-net__link socials-net__link--gray" href="#">
        <svg width="20" height="20">
          <use href="./images/sprite.svg#icon-linkedin"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
