<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>footer</title>
  </head>
  <body>
    <footer class="page-footer">
      <div class="container page-footer__container">
        <div class="page-footer__slogan">
          <p class="page-footer__text">homemade ice cream made</p>
          <p class="page-footer__desc">with passion</p>
        </div>
        <div class="page-footer__socials-container">
          <ul class="socials-net list">
            <li class="socials-net__item">
              <a class="socials-net__link socials-net__link--bordo" href="#">
                <svg class="socials-net__github">
                  <use href="../src/images/sprite.svg#Github"></use>
                </svg>
              </a>
            </li>
            <li class="socials-net__item">
              <a class="socials-net__link socials-net__link--bordo" href="#">
                <svg class="socials-net__telegram">
                  <use href="../src/images/sprite.svg#Telegram"></use>
                </svg>
              </a>
            </li>
            <li class="socials-net__item">
              <a class="socials-net__link socials-net__link--bordo" href="#">
                <svg class="socials-net__facebook">
                  <use href="../src/images/sprite.svg#Facebook"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="contact-footer">
          <span class="contact-footer__contact-text">Feel free to contact</span>
          <a
            class="contact-footer__footer-tel"
            href="tel:+610383766284"
            id="#footer"
            >+61 (0) 383 766 284</a
          >
        </div>
      </div>
      <div class="page-footer__post-footer">
        <p class="page-footer__copy">© 2019 - IceCream. All Rights Reserved.</p>
      </div>
    </footer>

    <script src="./index.js"></script>
  </body>
</html>
