<header class="page-header">
  <nav>
    <div class="logo">
      <svg width="50" height="50">
        <use href="./images/sprite.svg#Logo"></use>
      </svg>
      <span>icecream</span>
    </div>
    <button
      type="button"
      class="menu-btn"
      aria-expanded="false"
      aria-controls="menu-container"
    >
      <svg width="20" height="14" aria-label="Переключатель мобильного меню">
        <use class="icon-burger" href="./images/sprite.svg#Burger"></use>
        <use class="icon-close" href="./images/sprite.svg#Close"></use>
      </svg>
    </button>
    <button type="button" class="buy-btn">
      Buy now
      <svg width="5" height="8">
        <use href="./images/sprite.svg#Vector"></use>
      </svg>
    </button>
    <ul class="list nav-list">
      <li class="item nav-item">Home</li>
      <li class="item nav-item">About us</li>
      <li class="item nav-item">How it’s made?</li>
      <li class="item nav-item">Our products</li>
      <li class="item nav-item">Contact</li>
    </ul>
  </nav>
</header>
