<header class="page-header">
  <nav class="nav-panel">
    <div class="container header-container">
      <a class="logo" href="#hero">
        <svg class="logo-icon" width="50" height="50">
          <use href="./images/sprite.svg#Logo"></use>
        </svg>
        <span>icecream</span>
      </a>
      <div
        class="container menu-container backdrop is-hidden"
        id="menu-container"
        data-modal
        data-menu
      >
        <div class="modal menu">
          <button
            type="button"
            class="close-button"
            aria-expanded="false"
            aria-controls="menu-container"
            data-modal-close
          >
            <svg
              width="20"
              height="14"
              aria-label="Переключатель мобильного меню"
            >
              <use class="icon-close" href="./images/sprite.svg#Close"></use>
            </svg>
          </button>
          <button type="button" class="buy-button">
            <span>Buy now</span>
            <svg width="7" height="10">
              <use href="./images/sprite.svg#Vector"></use>
            </svg>
          </button>
          <ul class="nav-list">
            <li class="nav-item"><a class="nav-link" href="#hero">Home</a></li>
            <li class="nav-item">
              <a class="nav-link" href="#about">About us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#made">How it’s made?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#products">Our products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#footer">Contact</a>
            </li>
          </ul>
        </div>
      </div>

      <button
        type="button"
        class="menu-button"
        aria-expanded="false"
        aria-controls="menu-container"
        data-modal-open
        data-menu-button
      >
        <svg width="20" height="14" aria-label="Переключатель мобильного меню">
          <use class="icon-menu" href="./images/sprite.svg#Burger"></use>
        </svg>
      </button>
      <button type="button" class="nav-buy-button">
        Buy now
        <svg width="10" height="10">
          <use href="./images/sprite.svg#Vector"></use>
        </svg>
      </button>
    </div>

    <!-- <button
        type="button"
        class="menu-button"
        aria-expanded="false"
        aria-controls="menu-container"
        data-menu-button
      >
        <svg width="20" height="14" aria-label="Переключатель мобильного меню">
          <use class="icon-menu" href="./images/sprite.svg#Burger"></use>
          <use class="icon-close" href="./images/sprite.svg#Close"></use>
        </svg>
      </button>
    </div>
    <div class="container menu-container" id="menu-container" data-menu>
      <button type="button" class="buy-button">
        Buy now
        <svg width="10" height="10">
          <use href="./images/sprite.svg#Vector"></use>
        </svg>
      </button>
      <ul class="nav-list">
        <li class="nav-item"><a class="nav-link" href="#hero">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#about">About us</a></li>
        <li class="nav-item">
          <a class="nav-link" href="#made">How it’s made?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#products">Our products</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="#footer">Contact</a></li>
      </ul>
    </div> -->
  </nav>
</header>
