<section class="hero">
<div class="container ">
          <div class="hero-text">
 
              <div class="hero-left">
        <h1>
            ice cream <br>
            made with
            <span class="heading">passion </span>  
        </h1>
        
         <button class="btn-product">Products</button> <button class="btn-made">How it’s made?</button> 
    </div>

         <div class="hero-right">
    <ul>
        <li class="number">
                <!-- <div class="number-circle">
                                <svg class="number-link">
                                    <use href="./images/sprite.svg#Ellipse" width="16px" height="16px"></use>
                                </svg>
                            </div> -->
            <p>16 </p><span>cafes
        </span>
    
        </li>
        <li class="number">
               <!-- <div class="number-circle">
                                <svg class="number-link">
                                    <use href="./images/sprite.svg#Ellipse" width="16px" height="16px"></use>
                                </svg>
                            </div> -->
            <p>23</p> <span>food trucks</span>
           
    </ul>
</div>
<div class="hero-bottom">
<img class="img-carafe" src=".//images/tablet/hero/carafe-124@1x.png" alt="">
<img class="img-tasty" src=".//images/tablet/hero/tasty-168@1x.png" alt="">
</div>

</div>


</div>
</section>