<section class="hero">
<div class="hero-discription">
    <div class="hero-list">
        <picture >
             <source srcset="./images/desktop/hero/ice-cream-236@1x.png 1x, ./images/desktop/hero/ice-cream-236@2x.png 2x, ./images/desktop/hero/ice-cream-236@3x.png 3x" type="image/png" media="(min-width:1280px)">
                 <source srcset="./images/tablet/hero/ice-cream-143@1x.png 1x, ./images/tablet/hero/ice-cream-143@2x.png 2x, ./images/tablet/hero/ice-cream-143@3x.png 3x" type="images/png" media="(min-width:768px)">
                     <img class="ice-cream" src="./images/mobile/hero/ice-cream-171@1x.png" 
                     srcset="./images/mobile/hero/ice-cream-171@2x.png 2x, ./images/mobile/hero/ice-cream-171@3x.png 3x" alt="ice-cream" width="320">
         </picture> 
 
 </div> 
    <div class="hero-link">
        <h1>
            ice cream
            made with
            <span>
            passion
        </span>  
        </h1>
        
         <button>Products</button> <button>How it’s made?</button> 
    </div>


</div>
</section>