<section class="hero">
<div class="container hero-disription">
          <div class="hero-text">
 
              <div class="hero-left">
        <h1>
            ice cream <br>
            made with
            <span class="heading">passion </span>  
        </h1>
        
         <button class="btn-product">Products</button> <button class="btn-made">How it’s made?</button> 
    </div>

         <div class="hero-right">
    <ul>
        <li class="number"><p>16 </p><span>cafes
        </span>
        <!-- <div class="number-circle">
                                <svg class="number-link">
                                    <use href="./images/sprite.svg#Ellipse"></use>
                                </svg>
                            </div> -->
        </li>
        <li class="number"><p>23</p> <span>food trucks</span>
             <!-- <svg class="number-link">
                                    <use href="./images/sprite.svg#Ellipse"></use>
                                </svg>
                            </div>
                        </li> -->
    </ul>
</div>


</div>

<div class="hero-bottom">

</div>
</div>
</section>