<!-- locations -->

<section class="locations">
    <div class="locations-background">
        <div class="box-relative container">
            <h2 class="section-title hidden">
                List of establishments
            </h2>
            <ul class="locations-list">
                <li class="location-item">
                    <div class="catering-establishments cafe">
                        <p>CAFE</p>
                    </div>
                    <div class="city-location">
                        <p class="location-name">Chicago</p>
                        <span class="location-info">Fusce ut velit laoreet, tempus arcu molestie vulputate</span>
                    </div>
                    <div class="work-schedule">
                        <ul class="working-hours">
                            <li class="weekdays-work">
                                <p class="working-days">Monday - Friday</p>
                                <p class="working-time">06:00 AM - 10:00 PM</p>
                            </li>
                            <li class="weekend-work">
                                <p class="working-days">Saturday - Sunday</p>
                                <p class="working-time">8:00 AM - 16:00 PM</p>
                            </li>
                        </ul>
                    </div>
                    <div class="city-contacts">
                        <ul class="location-contacts">
                            <li>
                                <a class="location-link" href="tell:+61(0) 383 766 284">+61(0) 383 766 284</a>
                            </li>
                            <li>
                                <a class="location-link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="location-item">
                    <div class="catering-establishments foodtruck">
                        <p>FOODTRUCK</p>
                    </div>
                    <div class="city-location">
                        <p class="location-name">Los Angeles</p>
                        <span class="location-info">Fusce ut velit laoreet, tempus arcu molestie vulputate</span>
                    </div>
                    <div class="work-schedule">
                        <ul class="working-hours">
                            <li class="weekdays-work">
                                <p class="working-days">Monday - Friday</p>
                                <p class="working-time">06:00 AM - 10:00 PM</p>
                            </li>
                            <li class="weekend-work">
                                <p class="working-days">Saturday - Sunday</p>
                                <p class="working-time">8:00 AM - 16:00 PM</p>
                            </li>
                        </ul>
                    </div>
                    <div class="city-contacts">
                        <ul class="location-contacts">
                            <li>
                                <a class="location-link" href="tell:+61(0) 383 766 284">+61(0) 383 766 284</a>
                            </li>
                            <li>
                                <a class="location-link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="location-item">
                    <div class="catering-establishments cafe">
                        <p>CAFE</p>
                    </div>
                    <div class="city-location">
                        <p class="location-name">New York</p>
                        <span class="location-info">Fusce ut velit laoreet, tempus arcu molestie vulputate</span>
                    </div>
                    <div class="work-schedule">
                        <ul class="working-hours">
                            <li class="weekdays-work">
                                <p class="working-days">Monday - Friday</p>
                                <p class="working-time">06:00 AM - 10:00 PM</p>
                            </li>
                            <li class="weekend-work">
                                <p class="working-days">Saturday - Sunday</p>
                                <p class="working-time">8:00 AM - 16:00 PM</p>
                            </li>
                        </ul>
                    </div>
                    <div class="city-contacts">
                        <ul class="location-contacts">
                            <li>
                                <a class="location-link" href="tell:+61(0) 383 766 284">+61(0) 383 766 284</a>
                            </li>
                            <li>
                                <a class="location-link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        <!--button-->
            <ul class="button-list">
                <li class="button-information">
                    <a class="button our-locations" href="">
                        <span>Our Locations</span>
                        <svg width="8px" height="8px">
                            <use href="./images/sprite.svg#Vector"></use>
                        </svg>
                    </a>
                </li>
                <li class="button-information">
                    <a class="button franchise" href="">
                        <span>Franchise</span>
                        <svg width="8px" height="8px">
                            <use href="./images/sprite.svg#Vector"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>