<section class="made" id="made">
  <div class="container">
    <p class="pre-title">tradition and love</p>
    <h2 class="make-title">how it’s made?</h2>
    <div class="make">
      <picture>
        <source
          srcset="
            ./images/mobile/made/cow-280@1x.png 1x,
            ./images/mobile/made/cow-280@2x.png 2x,
            ./images/mobile/made/cow-280@3x.png 3x
          "
          media="(max-width: 767px)"
        />

        <source
          srcset="
            ./images/desktop/made/cow-516@1x.png 1x,
            ./images/desktop/made/cow-516@2x.png 2x,
            ./images/desktop/made/cow-516@3x.png 3x
          "
          media="(min-width: 1200px)"
        />

        <source
          srcset="
            ./images/tablet/made/cow-340@1x.png 1x,
            ./images/tablet/made/cow-340@2x.png 2x,
            ./images/tablet/made/cow-340@3x.png 3x
          "
          media="(min-width: 768px)"
        />
        <img
          class="cow"
          src="./images/mobile/made/cow-280@1x.png"
          alt="Фото коровы"
        />
      </picture>
      <ul class="make-block">
        <li class="make-text">
          <p>
            Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel
            justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend
            erat at justo fringilla.
          </p>
        </li>
        <li class="make-text2">
          <p>
            Curabitur lacinia enim at ex blandit, vel pellentesque odio
            elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum
            euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras
            massa nibh, tincidunt.<br />
            <br />
            Aliquam erat volutpat. Aenean accumsan.
          </p>
        </li>
        <button class="button">Read more</button>
      </ul>
    </div>

    <ul class="numbers">
      <li class="numbers-block milk">
        <h3 class="numbers-title">721</h3>
        <p class="numbers-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="numbers-block apple">
        <h3 class="numbers-title">16kg</h3>
        <p class="numbers-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="numbers-block heart">
        <h3 class="numbers-title">84</h3>
        <p class="numbers-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
