<section class="section-products" id="products">
  <div class="container">
    <p class="products-descr">100% natural</p>
    <h2 class="section-title">products</h2>
    <ul class="products-list">
      <li class="products-item">
        <img
          class="products-picture"
          srcset="
            ./images/mobile/products/ice-cream/ice-cream-249@1x.png   249w,
            ./images/mobile/products/ice-cream/ice-cream-249@2x.png   498w,
            ./images/mobile/products/ice-cream/ice-cream-249@3x.png   747w,
            ./images/tablet/products/ice-cream/ice-cream-220@1x.png   220w,
            ./images/tablet/products/ice-cream/ice-cream-220@2x.png   440w,
            ./images/tablet/products/ice-cream/ice-cream-220@3x.png   660w,
            ./images/desktop/products/ice-cream/ice-cream-335@1x.png  335w,
            ./images/desktop/products/ice-cream/ice-cream-335@2x.png  670w,
            ./images/desktop/products/ice-cream/ice-cream-335@3x.png 1005w
          "
          src="./images/mobile/products/ice-cream/ice-cream-249@1x.png"
          alt="ice cream"
          width="100%"
          sizes="(min-width: 768px) 33vw, 100vw"
        />
        <h3 class="products-title">ice cream</h3>
        <p class="item-descr">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <a class="link" href="">
          <svg width="12px" height="12px">
            <use href="./images/sprite.svg#Arrow"></use>
          </svg>
        </a>
      </li>
      <li class="products-item">
        <img
          class="products-picture"
          srcset="./images/mobile/products/ice-coffee/coffee-249@1x.png 249w,
            ./images/mobile/products/ice-coffee/coffee-249@2x.png 498w,
            ./images/mobile/products/ice-coffee/coffee-249@3x.png 747w,
            ./images/tablet/products/coffee/coffe-220@1x.png 220w,
            ./images/tablet/products/coffee/coffe-220@2x.png 440w,
            ./images/tablet/products/coffee/coffe-220@3x.png 660w
            ./images/desktop/products/coffee/coffe-337@1x.png  337w,
            ./images/desktop/products/coffee/coffe-337@2x.png  674w,
            ./images/desktop/products/coffee/coffe-337@3x.png 1011w
          "
          src="./images/mobile/products/ice-coffee/coffee-249@1x.png"
          alt="ice coffee"
          width="100%"
          sizes="(min-width: 768px) 33vw, 100vw"
        />
        <h3 class="products-title">ice coffee</h3>
        <p class="item-descr">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <a class="link" href="">
          <svg width="12px" height="12px">
            <use href="./images/sprite.svg#Arrow"></use>
          </svg>
        </a>
      </li>
      <li class="products-item">
        <img
          class="products-picture"
          srcset="
            ./images/mobile/products/milkshakes/milkshakes-249@1x.png   249w,
            ./images/mobile/products/milkshakes/milkshakes-249@2x.png   498w,
            ./images/mobile/products/milkshakes/milkshakes-249@3x.png   747w,
            ./images/tablet/products/milkshakes/milkshakes-220@1x.png   220w,
            ./images/tablet/products/milkshakes/milkshakes-220@2x.png   440w,
            ./images/tablet/products/milkshakes/milkshakes-220@3x.png   660w,
            ./images/desktop/products/milkshakes/milkshakes-335@1x.png  335w,
            ./images/desktop/products/milkshakes/milkshakes-335@2x.png  670w,
            ./images/desktop/products/milkshakes/milkshakes-335@3x.png 1005w
          "
          src="./images/mobile/products/milkshakes/milkshakes-249@1x.png"
          alt="milkshakes"
          width="100%"
          sizes="(min-width: 768px) 33vw, 100vw"
        />
        <h3 class="products-title">milkshakes</h3>
        <p class="item-descr">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <a class="link" href="">
          <svg width="12px" height="12px">
            <use href="./images/sprite.svg#Arrow"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
