<section class="review-section">
    <div class="container">

        <div class="review-slide">
            <img class="review-photo" src="./images/girl/curly-85@1x.png" 
                srcset="./images/girl/curly-85@2x.png 2x, ./images/girl/curly-85@3x.png 3x" 
                alt="Emily"
                width="85">
            <div class="review-text-container">
                <p class="review-text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                    hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.</p>
                <svg class="review-quotes" width="54" height="40">
                    <use href="./images/sprite.svg#Quotes"></use>
                </svg>
            </div>
            <img class="review-dots" src="./images/icons/Review-dots.svg" width="32" height="4">
            <h3 class="review-reviewer">Emily, Los Angeles</h3>
        </div>

    </div>
</section>