<!-- <section class="collage-test-section">
    <div class="container">
    </div>
</section> -->

<section class="review-section" id="about">
    <div class="container">

        <h2 class="visually-hidden">Reviews</h2>

        <div class="review-collage-container">
            <picture class="review-collage">
                <source srcset="./images/desktop/made/pictures-1280@1x.webp 1x, 
                    ./images/desktop/made/pictures-1280@2x.webp 2x, 
                    ./images/desktop/made/pictures-1280@3x.webp 3x"
                    type="image/webp"
                    media="(min-width: 1200px)">
                <source srcset="./images/desktop/made/pictures-1280@1x.jpg 1x, 
                    ./images/desktop/made/pictures-1280@2x.jpg 2x, 
                    ./images/desktop/made/pictures-1280@3x.jpg 3x"
                    type="image/jpeg"
                    media="(min-width: 1200px)">
                <source srcset="./images/tablet/made/pictures-786@1x.webp 1x, 
                    ./images/tablet/made/pictures-786@2x.webp 2x, 
                    ./images/tablet/made/pictures-786@3x.webp 3x"
                    type="image/webp"
                    media="(min-width: 768px)">
                <source srcset="./images/tablet/made/pictures-786@1x.jpg 1x, 
                    ./images/tablet/made/pictures-786@2x.jpg 2x, 
                    ./images/tablet/made/pictures-786@3x.jpg 3x" 
                    type="image/jpeg" media="(min-width: 768px)">
                <source srcset="./images/mobile/made/pictures-364@1x.webp 1x,
                    ./images/mobile/made/pictures-364@2x.webp 2x, 
                    ./images/mobile/made/pictures-364@3x.webp 3x" 
                    type="image/webp">
                <!-- <img src="./images/mobile/made/pictures-364@1x.webp" 
                    srcset="./images/mobile/made/pictures-364@2x.webp 2x, 
                    ./images/mobile/made/pictures-364@3x.webp 3x" 
                    alt="Коллаж" height="100%"> -->
                <img src="./images/mobile/made/pictures-364@1x.jpg" 
                    srcset="./images/mobile/made/pictures-364@2x.jpg 2x, 
                    ./images/mobile/made/pictures-364@3x.jpg 3x" 
                    alt="Коллаж" height="100%">
            </picture>
        </div>

        <div class="review-slider">

            <div class="review-slide">
                <img class="review-photo" src="./images/girl/curly-85@1x.png" 
                    srcset="./images/girl/curly-85@2x.png 2x, ./images/girl/curly-85@3x.png 3x" 
                    alt="Emily"
                    width="85">
                <div class="review-text-container">
                    <p class="review-text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                        hendrerit nulla quam nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.</p>
                    <svg class="review-quotes" width="54" height="40">
                        <use href="./images/sprite.svg#Quotes"></use>
                    </svg>
                </div>
                <img class="review-dots" src="./images/icons/Review-dots.svg" width="32" height="4">
                <h3 class="review-reviewer">Emily, Los Angeles</h3>
            </div>

            <div class="review-slide">
                <img class="review-photo" src="./images/girl/white-85@1x.png"
                    srcset="./images/girl/white-85@2x.png 2x, ./images/girl/white-85@3x.png 3x" alt="Jessica" width="85">
                <div class="review-text-container">
                    <p class="review-text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                        hendrerit nulla quam nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.</p>
                    <svg class="review-quotes" width="54" height="40">
                        <use href="./images/sprite.svg#Quotes"></use>
                    </svg>
                </div>
                <img class="review-dots" src="./images/icons/Review-dots.svg" width="32" height="4">
                <h3 class="review-reviewer">Jessica, New-York</h3>
            </div>

            <div class="review-slide">
                <img class="review-photo" src="./images/girl/black-85@1x.png"
                    srcset="./images/girl/black-85@2x.png 2x, ./images/girl/black-85@3x.png 3x" alt="Laura" width="85">
                <div class="review-text-container">
                    <p class="review-text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                        hendrerit nulla quam nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.</p>
                    <svg class="review-quotes" width="54" height="40">
                        <use href="./images/sprite.svg#Quotes"></use>
                    </svg>
                </div>
                <img class="review-dots" src="./images/icons/Review-dots.svg" width="32" height="4">
                <h3 class="review-reviewer">Laura, Miami</h3>
            </div>

        </div>

    </div>
</section>