// page-footer

.page-footer {
  outline: 1px solid red;

  background-color: $secondary-bg-color;

  padding-top: 43px;

  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 767px) {
    width: 320px;
  }

  @media screen and (min-width: $tablet) {
    width: 768px;
    padding-top: 91px;
  }

  @media screen and (min-width: $desktop) {
    width: 1200px;
    padding-top: 98px;
  }

  &__container {
    position: relative;
    border-bottom: 1px solid $mark-color;
  }

  &__slogan {
    font-family: 'Titan One';
    margin-bottom: 43px;
    margin-right: 66px;
    width: 234px;

    @media screen and (min-width: $tablet) {
      width: 340px;
      margin-bottom: 91px;
      margin-right: 0px;
    }
    @media screen and (min-width: $desktop) {
      width: 474px;
      margin-bottom: 97px;
      margin-right: 0px;
    }
  }

  &__text {
    font-weight: 400;

    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $accent-pink-color;

    margin-bottom: 17px;

    @media screen and (min-width: $tablet) {
      font-size: 26px;
      line-height: 1.15;
    }

    @media screen and (min-width: $desktop) {
      font-size: 30px;
      line-height: 1.13;
      margin-bottom: 15px;
    }
  }

  &__desc {
    font-weight: 400;

    font-size: 34px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    color: $accent-color;
    text-transform: uppercase;

    @media screen and (min-width: $tablet) {
      font-size: 48px;
      line-height: 1.4;
      letter-spacing: 0.06em;
    }
    @media screen and (min-width: $desktop) {
      font-size: 57px;
      line-height: 1.13;
    }
  }

  &__socials-container {
    width: 153px;
    margin-left: auto;
    margin-bottom: 46px;

    @media screen and (min-width: $tablet) {
      position: absolute;
      top: 0;
      right: 34px;

      width: 162px;
      margin: 0px;
    }
    @media screen and (min-width: $desktop) {
      right: 75px;
      width: 151px;
    }
  }

  &__post-footer {
    width: 150px;

    margin-left: auto;
    margin-right: auto;

    padding-top: 29px;
    padding-bottom: 18px;

    @media screen and (min-width: $tablet) {
      width: 276px;
      padding-top: 29px;
      padding-bottom: 35px;
    }
    @media screen and (min-width: $desktop) {
      padding-top: 9px;
      padding-bottom: 10px;
    }
  }

  &__copy {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    text-align: center;

    color: $main-text-color;

    @media screen and (min-width: $tablet) {
      width: 276px;
      line-height: 1.8;
    }
  }
}

// contact-footer
.contact-footer {
  display: flex;
  justify-content: flex-end;
  font-family: 'DM Sans';
  margin-bottom: 40px;
  margin-left: 50px;

  font-weight: 700;
  font-size: 12px;

  // text-align: right;

  @media screen and (min-width: $tablet) {
    width: 268px;
    margin: 0;
    position: absolute;
    top: 80px;
    right: 34px;
    font-size: 14px;
    line-height: 1.8;
  }
  @media screen and (min-width: $desktop) {
    width: 319px;
    top: 84px;
    right: 75px;
    font-size: 16px;
    line-height: 1.9;
  }

  &__contact-text {
    color: $secondary-text-color;
    margin-right: 3px;
  }
  &__footer-tel {
    color: $accent-color;
  }
}

/* socials-net */
.socials-net {
  display: flex;
  justify-content: center;

  &__github {
    width: 20px;
    height: 20px;
  }
  &__telegram {
    width: 20px;
    height: 15px;
  }
  &__facebook {
    width: 10px;
    height: 20px;
  }
  &__item:not(:last-child) {
    margin-right: 28px;

    @media screen and (min-width: $tablet) {
      margin-right: 30px;
    }
    @media screen and (min-width: $desktop) {
      margin-right: 24px;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;

    @media screen and (min-width: $tablet) {
      width: 34px;
      height: 34px;
    }
  }

  &__link--bordo {
    background: $accent-pink-color;
  }
  &__link:hover,
  &__link:focus {
    background-color: $accent-color;
  }
}
