  .hero {
    width: 100;
    background-repeat: no-repeat;
    background-color: $product-block-color-first;
    height: 502px;
    position: relative;

    .hero-circle {
      position: absolute;
      top: 75px;
      left: 36px;

      background-color: $accent-pink-color;
      border-radius: 50%;
      height: 344px;
      width: 344px;

    }

    .ice {
      position: absolute;
      padding-left: 81px;
      bottom: 0%;
    }

    .hero-left {
      position: absolute;
      z-index: 2;
    }

    .hero-text {
      height: 502px;
      font-family: "Titan One";
      padding-top: 193px;

      h1 {
        font-weight: 400;
        font-size: 26px;
        line-height: 1.15;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: $main-color;
      }

      .heading {
        font-size: 48px;
        line-height: 1;
        color: $accent-color;
      }

      button {
        margin-top: 19px;
        font-family: "DM Sans";
        font-weight: 400;
        font-size: 8px;
        line-height: 1.25;
        border-radius: 20px;
      }

      .btn-product {
        margin-right: 8px;
        background-color: $accent-color;
        color: $main-color;
        padding: 9px 15px 9px 15px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        cursor: pointer
      }

      .btn-made {
        background-color: $main-color;
        color: $accent-color;
        padding: 7px 13px 7px 13px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        cursor: pointer
      }

      .btn-product:hover,
      .btn-product:focus {
        background: $main-btn-color-focus;
      }

      .btn-made:hover,
      .btn-made:focus {
        background: $mark-color;
      }

      .hero-left {
        width: 218px;
      }
    }
  }

  // placeholder
  .number-circle1,
  .number-circle2 {
    @extend %num;
    right: 0%;
    top: 24%;
  }

  .hero {
    @media screen and (max-width: 767px) {

      .hero-right,
      .hero-bottom {
        display: none;
      }

      .hero-left {
        left: 20px;
      }
    }

    @media screen and (min-width:$tablet) {
      height: 400px;

      .hero-text {
        position: relative;
        display: flex;
        height: 400px;
        padding-top: 100px;

        h1 {
          font-size: 22px;
          line-height: 1.14;
          letter-spacing: 0.04em;
        }

        .heading {
          font-size: 34px;
          line-height: 1.1;
        }
      }

      .hero-circle {
        position: absolute;
        top: 31px;
        left: 273px;

        background-color: $accent-pink-color;
        border-radius: 50%;
        height: 324px;
        width: 324px;
      }

      .ice {
        position: absolute;
        padding-left: 344px;
        bottom: 0%;
      }

      .hero-right {
        text-align: right;

      }

      .hero-right {
        margin-left: 648px;

        .number:first-child {
          margin-bottom: 13px;
        }

        .number p {

          font-size: 28px;
          line-height: 1.14;
          color: $accent-color;
        }

        .number p span {
          display: block;
          font-family: "DM Sans";
          font-size: 8px;
          line-height: 1.25;
          color: $main-color;
        }

        .number-circle1 {
          width: 16px;
          height: 16px;
        }

        .number-circle2 {
          width: 16px;
          height: 16px;
        }

        .number-link1 {
          position: relative;
        }

        .number-link2 {
          position: relative;
        }
      }

      .img-tasty {
        position: absolute;
        bottom: 0%;
        right: 0;
      }

      .img-carafe {
        position: absolute;
        bottom: 20px;
        left: 0;
        display: flex;

      }

      .img-carafe li:last-child {
        margin-top: 47px;
      }

      .lorem {
        width: 114px;
        font-family: "DM Sans";
        font-size: 8px;
        line-height: 1.25;
        color: $main-color;
        margin-bottom: 7px;
      }

      .link {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: $main-color;

        svg {
          width: 7px;
        }
      }
    }

    @media screen and (min-width:$desktop) {
      height: 665px;

      .hero-circle {
        position: absolute;
        top: 52px;
        left: 360px;

        background-color: $accent-pink-color;
        border-radius: 50%;
        height: 538px;
        width: 538px;

      }

      .ice {
        position: absolute;
        padding-left: 476px;
        bottom: 0%;
      }

      .hero-text {
        height: 665px;

        button {
          margin-top: 25px;
          font-size: 14px;
          line-height: 1.28;
        }

        .btn-product {
          margin-right: 15px;
          padding: 11px 24px 11px 24px;
        }

        .btn-made {
          padding: 11px 20px 11px 20px;
        }

        .hero-left {
          width: 277px;
        }

        .hero-right {
          margin-left: 957px;
        }

        h1 {
          font-size: 38px;
          line-height: 1.16;
          letter-spacing: 0.04em;
        }

        .heading {
          font-size: 58px;
          line-height: 0.89;
        }

        .hero-right {
          .number-circle1 {


            top: 14%;

            width: 30px;
            height: 30px;


          }

          .number-circle2 {

            top: 27%;

            width: 30px;
            height: 30px;


          }

          .number p {

            font-size: 46px;
            line-height: 1.15;
            color: $accent-color;
          }

          .number span {
            font-size: 14px;
            line-height: 1.28;
            color: $main-color;
          }
        }

        .img-carafe {
          position: absolute;
          bottom: 40px;
          left: 0;
          display: flex;

        }

        .img-carafe li:last-child {
          margin-top: 56px;
        }

        .lorem {
          width: 200px;
          font-size: 14px;
          line-height: 1.43;
          margin-bottom: 20px;
        }

        .link {
          width: 26px;
          height: 26px;

          svg {
            width: 7px;
          }
        }
      }
    }
  }