
.hero{
  width: 100;
   background-repeat: no-repeat;
   background-color: $product-block-color-first;
   height: 502px;
 position: relative;
  .hero-circle{
   position: absolute;
   top: 75px;
   left:36px;
  
   background-color: $accent-pink-color;
   border-radius:50% ;
 height: 344px;
 width: 344px;

 
 }
 .ice{
   position: absolute;
   padding-left:81px ;
   bottom:0%;
 }
 .hero-left{
   position: absolute;
   z-index: 2;
   left: 20px;
 }
.hero-text{
   height: 502px;
  font-family: "Titan One";
 padding-top: 193px;

   h1{
     font-weight: 400;
     font-size: 26px;
     line-height: 1.15;
 letter-spacing: 0.04em;
     text-transform: uppercase;
     color:$main-color;
   }
   .heading{
     font-size: 48px;
     line-height: 1;
     color: $accent-color;
   }
   button{
     margin-top: 19px;
       font-family: "DM Sans";
       font-weight: 400;
     font-size: 8px;
     line-height: 1.25;
     border-radius: 20px;
   }
       .btn-product{
         margin-right: 8px;
       background-color: $accent-color;
       color:$main-color;
      padding:9px 15px 9px 15px;
     }
         .btn-made{
       background-color:$main-color;
       color: $accent-color;
      padding:7px 13px 7px 13px;
     }
     .hero-left{
        width: 218px;
     }
 } 




}
.hero{
     @media screen and (max-width: 767px){
       .hero-right, .hero-bottom{
       display: none;
     }
   }
 @media screen and (min-width:$tablet) {
   height: 400px;
  
 .hero-text{
   position: relative;
          display: flex;
height: 400px;
  padding-top: 100px;
   h1{
     font-size: 22px;
     line-height: 1.14;
 letter-spacing: 0.04em; 
   }
   .heading{
     font-size:34px;
     line-height: 1.1;
   }
 }

.hero-circle{
   position: absolute;
   top: 31px;
   left:273px;
  
   background-color: $accent-pink-color;
   border-radius:50% ;
 height: 324px;
 width: 324px;

}
 .ice{
   position: absolute;
   padding-left:344px ;
   bottom: 0%;
 }
  
    .hero-right{
      text-align: right;
      
    }
    .number{
      position: relative;
     
    }
.number-link{
z-index: 1;
  position: absolute;
  top: 0%;
  right:-25%;
  width: 16px;
  height: 16px;
  fill: $main-color;
}
   
 .hero-right{
   padding-left:657px ;
       .number p{
         z-index: 88;
         font-size:28px;
         line-height: 1.14;
         color: $accent-color;
       }
     .number span{
       font-family: "DM Sans";
         font-size:8px;
         line-height: 1.25;
         color:$main-color;
       }
       }
 

   .img-tasty{
     position: absolute;
     bottom: 0%;
     right:0 ;
   }
   .img-carafe{
     position: absolute;
     bottom: 20px;
     left:0 ;
     display: flex;
    
   }
   .img-carafe li:last-child{
     margin-top: 47px;
   }
   .lorem{
     width: 114px;
     font-family: "DM Sans";
         font-size:8px;
         line-height: 1.25;
         color:$main-color;
            margin-bottom: 7px;
   }
   .link{
     display: flex;
    justify-content: space-around;
    align-items: center;
     width: 18px;
     height: 18px;
     border-radius: 50%;
     background-color: $main-color;
  
  svg{
    width: 7px;
  }
   }
 }
 @media screen and (min-width:$desktop){
   height: 665px;
   .hero-circle{
   position: absolute;
   top: 52px;
   left:360px;
  
   background-color: $accent-pink-color;
   border-radius:50% ;
 height: 538px;
 width: 538px;

 
 }
   .hero-right{
     padding-left: 700px;
   }
 .ice{
   position: absolute;
   padding-left:476px ;
   bottom:0%;
 }
 .hero-text{
   height: 665px;
 }
 }
 }