

 
 @media screen and (min-resolution: 2dppx){
.hero{
 background: url(./../images/mobile/hero/ice-cream-171@2x.png) 117px 100%, radial-gradient(circle closest-side at 210px 250px,
                           $accent-pink-color  60px,   $accent-pink-color  175px, $product-block-color-first 50px);
   
}
}
 @media screen and (min-resolution: 3dppx){
.hero{
 background: url(./../images/mobile/hero/ice-cream-171@3x.png) 117px 100%, radial-gradient(circle closest-side at 210px 250px,
                           $accent-pink-color  60px,   $accent-pink-color  175px, $product-block-color-first 50px);
   
}
}
 .hero{
 background: url(./../images/mobile/hero/ice-cream-171@1x.png) 117px 100%, radial-gradient(circle closest-side at 210px 250px,
                           $accent-pink-color  60px,   $accent-pink-color  175px, $product-block-color-first 50px);
  }  

@media screen and (min-width: $tablet){


 @media screen and (min-resolution: 2dppx){
.hero{
 background: url(./../images/tablet/hero/ice-cream-143@1x.png) 378px 100%,
 
   radial-gradient(circle closest-side at 470px 193px,
                           $accent-pink-color  60px,   $accent-pink-color  160px, $product-block-color-first 50px);
   
   
}
}
 @media screen and (min-resolution: 3dppx){
.hero{
  background: url(./../images/tablet/hero/ice-cream-143@1x.png) 378px 100%,
 
   radial-gradient(circle closest-side at 470px 193px,
                           $accent-pink-color  60px,   $accent-pink-color  160px, $product-block-color-first 50px);
   
} 
}
 .hero{
 background: url(./../images/tablet/hero/ice-cream-143@1x.png) 61% bottom,
 radial-gradient(circle closest-side at 61% 193px,
                           $accent-pink-color  60px,   $accent-pink-color  160px, $product-block-color-first 50px);
   
}
   
}
@media screen and (min-width: $desktop){
 


 @media screen and (min-resolution: 2dppx){
.hero{
 background: url(./../images/desktop/hero/ice-cream-236@2x.png) 378px 100%, radial-gradient(circle closest-side at 210px 250px,
                           $accent-pink-color  60px,   $accent-pink-color  175px, $product-block-color-first 50px);
   
}
}
 @media screen and (min-resolution: 3dppx){
.hero{
 background: url(./../images/desktop/hero/ice-cream-236@3x.png) 378px 100%, radial-gradient(circle closest-side at 210px 250px,
                           $accent-pink-color  60px,   $accent-pink-color  175px, $product-block-color-first 50px);
   
} 
}
  .hero{
 background: url(./../images/desktop/hero/ice-cream-236@1x.png) 378px 100%, radial-gradient(circle closest-side at 210px 250px,
                           $accent-pink-color  60px,   $accent-pink-color  175px, $product-block-color-first 50px);
  }
}
.hero{


   background-repeat: no-repeat;
   
   height: 502px;
 
.hero-text{
  font-family: "Titan One";

 padding-top: 193px;
   h1{
     font-weight: 400;
     font-size: 26px;
     line-height: 1.15;
 letter-spacing: 0.04em;
     text-transform: uppercase;
     color:$main-color;
   }
   .heading{
     font-size: 48px;
     line-height: 1;
     color: $accent-color;
   }
   button{
     margin-top: 19px;
       font-family: "DM Sans";
       font-weight: 400;
     font-size: 8px;
     line-height: 1.25;
     border-radius: 20px;
   }
       .btn-product{
         margin-right: 8px;
       background-color: $accent-color;
       color:$main-color;
      padding:9px 15px 9px 15px;
     }
         .btn-made{
       background-color:$main-color;
       color: $accent-color;
      padding:7px 13px 7px 13px;
     }
     .hero-left{
        width: 218px;
     }
 } 




}
.hero{
 @media screen and (min-width:$tablet) {
   height: 400px;
 }
 .hero-text{
   position: relative;
    
     @media screen and (max-width: 767px){
       .hero-right, .hero-bottom{
       display: none;
     }
   }
   @media screen and (min-width: $tablet){
      display: flex;

  padding-top: 100px;


   .hero-left{
     margin-right: 495px;
   }
    .hero-right{
      text-align: right;
      
    }
//     .number{
//       position: relative;
     
//     }
// .number-link{

//   position: absolute;
//   top: -10%;
//   right:-25%;
//   width: 16px;
//   height: 16px;
//   fill: $main-color;
// }
   
 
       .number p{
         font-size:28px;
         line-height: 1.14;
         color: $accent-color;
       }
     .number span{
       font-family: "DM Sans";
         font-size:8px;
         line-height: 1.25;
         color:$main-color;
       }
   h1{
     font-size: 22px;
     line-height: 1.14;
 letter-spacing: 0.04em; 
   }
   .heading{
     font-size:34px;
     line-height: 1.1;
   }
   button{
     margin-top: 20px;
     font-size: 8px;
     line-height: 1.25;
     border-radius: 20px;
   }
   .img-tasty{
     position: absolute;
     bottom: -161px;
     right:0 ;
   }
   .img-carafe{
     position: absolute;
     bottom: -133px;
     left:0 ;
   }
   }
 }
 }