.locations {
  background-color: $secondary-bg-color;
}

.locations-background {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: 1280px 352px;

  @media screen and (min-width: 1200px) {
    @media screen and (min-device-pixel-ratio: 1),
      screen and (min-resolution: 96dpi),
      screen and (min-resolution: 1dppx) {
      background-image: url(../images/desktop/locations/sectionbg2_1@3x.png);
    }

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/desktop/locations/sectionbg2_1@3x.png);
    }

    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      background-image: url(../images/desktop/locations/sectionbg2_1@3x.png);
    }
  }
}

.box-relative {
  position: relative;
  bottom: 84px;

  @media screen and (min-width: 768px) {
    bottom: 78px;
  }

  @media screem and (min-width: 1200px) {
    bottom: 102px;
  }
}

.hidden {
  display: none;
}

.locations-list {
  @media screen and (max-width: 767px) {
    .location-item:not(:last-child) {
      margin-bottom: 20px;
      margin-left: 30px;
      margin-right: 30px;
    }
  }

  @media screen and (max-width: 767px) {
    .location-item {
      margin-bottom: 20px;
      margin-left: 30px;
      margin-right: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    .location-item:not(:last-child) {
      margin-right: 20px;
    }
  }

  @media screen and (min-width: 1200px) {
    .location-item:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.location-item {
  padding: 43px 20px;
  border-radius: 24px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  background-color: $main-color;

  @media screen and (min-width: 768px) {
    padding: 50px 31px;
  }

  @media screen and (min-width: 1200px) {
    padding: 50px 43px 62px;
  }
}

.catering-establishments {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16px;
  border-radius: 4px;
  color: $main-color;
  font-size: 12px;
  line-height: 1.36;
  letter-spacing: 0.04em;

  @media screen and (min-width: 768px) {
    height: 28px;
    border-radius: 6px;
    font-size: 16px;
    line-height: 1.8;
  }

  &.cafe {
    max-width: 80px;
    background-color: $product-block-color-second;

    @media screen and (min-width: 768px) {
      max-width: 73px;
    }
  }

  &.foodtruck {
    max-width: 130px;
    background-color: $product-block-color-third;

    @media screen and (min-width: 768px) {
      max-width: 138px;
    }
  }
}

.city-location,
.work-schedule {
  padding-bottom: 25px;
  border-bottom: 1px solid $mark-color;

  @media screen and (min-width: 768px) {
    padding-bottom: 30px;
  }

  & .location-name {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 1.36;
    letter-spacing: 0.04em;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-bottom: 14px;
      font-size: 14px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 16px;
    }
  }
}

.working-hours {
  font-size: 12px;
  line-height: 1.86;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }

  & .weekdays-work {
    margin-bottom: 10px;

    @media screen and (min-width: 768px) {
      margin-bottom: 16px;
    }
  }

  & .working-time {
    color: $accent-pink-color;
  }
}

.city-contacts,
.city-location,
.work-schedule {
  padding-top: 25px;

  @media screen and (min-width: 768px) {
    padding-top: 30px;
  }
}

.location-info,
.location-link {
  font-size: 12px;
  line-height: 1.5;
  color: $main-text-color;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

//button

.button-list {
  display: flex;
  justify-content: center;
  padding-top: 54px;

  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
  }

  @media screen and (min-width: 768px) {
    padding-top: 81px;
    padding-bottom: 67px;
  }
}

.button-information {
  @media screen and (max-width: 767px) {
    &:first-child {
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: 768px) {
    &:first-child {
      padding-right: 15px;
    }
  }

  & .button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 162px;
    height: 44px;
    border-radius: 22px;

    @media screen and (min-width: 768px) {
      min-width: 192px;
    }

    &.our-locations {
      background-color: $accent-color;
      color: $main-color;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        background-color: $main-btn-color-focus;
      }

      & svg {
        stroke: $main-color;
      }
    }

    &.franchise {
      background-color: $main-color;
      color: $accent-color;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        background-color: $secondary-btn-color-focus;
      }
    }

    & svg {
      stroke: $accent-color;
    }
  }

  & svg {
    margin-left: 13px;
  }
}
