* {
  margin: 0;
  padding: 0;
  outline: none;
}
ul {
  list-style: none;
}
.made {
  padding-top: 125px;
  padding-bottom: 145px;
  background-color: $secondary-bg-color;
  background-repeat: no-repeat;
  background-position: top 770px left 0px;
  background-size: contain;
  @media screen and(min-width:$tablet) {
    padding-top: 105px;
    padding-bottom: 241px;
  }
  @media screen and(min-width:$desktop) {
    padding-top: 125px;
    padding-bottom: 310px;
  }
  @media screen and (min-device-pixel-ratio: 1),
    screen and (min-resolution: 96dpi),
    screen and (min-resolution: 1dppx) {
    background-image: url(/images/mobile/made/bg-milk-320@1x.png);
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 96dpi),
    screen and (min-resolution: 1dppx) {
    background-image: url(/images/mobile/made/bg-milk-320@2x.png);
  }
  @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 96dpi),
    screen and (min-resolution: 1dppx) {
    background-image: url(/images/mobile/made/bg-milk-320@3x.png);
  }
  @media screen and (min-width: $tablet) {
    background-image: none;
  }
  @media screen and (min-width: $desktop) {
    @media screen and (min-device-pixel-ratio: 1),
      screen and (min-resolution: 96dpi),
      screen and (min-resolution: 1dppx) {
      background-image: url(/images/desktop/made/bg-milk-1282@1x.png);
    }
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 96dpi),
      screen and (min-resolution: 1dppx) {
      background-image: url(/images/desktop/made/bg-milk-1282@2x.png);
    }
    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 96dpi),
      screen and (min-resolution: 1dppx) {
      background-image: url(/images/desktop/made/bg-milk-1282@3x.png);
    }
    @media screen and(min-width:$desktop) {
      background-position: top 342px left 0px;
    }
  }
}
.cow {
  max-width: unset;
}
.pre-title {
  margin-bottom: 15px;
  font-family: Titan One;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: $accent-pink-color;
  @media screen and(min-width:$tablet) {
    font-size: 26px;
  }
  @media screen and(min-width:$desktop) {
    font-size: 30px;
  }
}
.make-title {
  margin-bottom: 26px;
  font-family: Titan One;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $accent-color;
  @media screen and(min-width:$tablet) {
    margin-bottom: 50px;
    font-size: 48px;
  }
  @media screen and(min-width:$desktop) {
    margin-bottom: 55px;
    font-size: 58px;
  }
}
.make {
  margin-bottom: 39px;
  @media screen and(min-width:$tablet) {
    margin-bottom: 66px;

    display: flex;
  }
  @media screen and(min-width:$desktop) {
    margin-bottom: 39px;
  }

  &-block {
    margin-left: 30px;
    margin-right: 30px;
    @media screen and(min-width:$tablet) {
      margin-left: 17px;
      margin-right: 0px;
    }
    @media screen and(min-width:$desktop) {
      margin-left: 74px;
    }
  }
  &-text {
    margin-top: 46px;
    margin-bottom: 34px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.58;
    color: $secondary-text-color;
    @media screen and(min-width:$tablet) {
      font-size: 14px;
      margin-top: 0px;
      padding-top: 50px;
      margin-left: 0px;

      line-height: 1.79;
    }
    @media screen and(min-width:$desktop) {
      font-size: 16px;
      line-height: 1.75;
    }
  }
  &-text2 {
    margin-bottom: 25px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.58;
    color: $main-text-color;
    @media screen and(min-width:$tablet) {
      margin-left: 0px;
      margin-bottom: 62px;
      font-size: 14px;
      line-height: 1.79;
    }
    @media screen and(min-width:$desktop) {
      margin-bottom: 45px;
      line-height: 1.93;
    }
  }
}

.button {
  display: flex;
  align-items: center;

  padding-left: 37px;
  width: 176px;
  height: 44px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  color: $accent-color;
  border: 0px;
  background: $main-color;
  border-radius: 22px;
  cursor: pointer;
  transition: 250ms $time-function;
  @media screen and(min-width:$tablet) {
    margin-left: auto;
  }
  @media screen and(min-width:$tablet) {
    margin-left: 0px;
  }

  &:focus,
  &:hover {
    background-color: $secondary-btn-color-focus;
  }
  &::after {
    content: '';
    display: block;
    width: 10px;
    height: 8px;
    margin-left: 15px;
    background-image: url(/images/icons/Vector.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }
}
.numbers {
  @media screen and(min-width:$tablet) {
    display: flex;
  }

  &-block {
    width: 230px;
    @media screen and(min-width:$tablet) {
      width: 180px;
    }
    @media screen and(min-width:$desktop) {
      width: 330px;
    }

    &:not(:last-child) {
      margin-bottom: 38px;
      @media screen and(min-width:$tablet) {
        margin-bottom: 0px;
        margin-right: 50px;
      }
      @media screen and(min-width:$desktop) {
        margin-right: 30px;
      }
    }
    &::before {
      content: '';
      display: block;
      height: 50px;
      margin-bottom: 16px;
      background-repeat: no-repeat;
      @media screen and(min-width:$tablet) {
        margin-bottom: 36px;
      }
      @media screen and(min-width:$desktop) {
        margin-bottom: 40px;
      }
    }
  }
  .milk::before {
    background-image: url(/images/icons/milk.svg);
  }
  .apple::before {
    background-image: url(/images/icons/apple.svg);
  }
  .heart::before {
    background-image: url(/images/icons/heart.svg);
  }
  &-title {
    margin-bottom: 15px;
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $accent-color;
    @media screen and(min-width:$tablet) {
      font-size: 48px;
      line-height: 1.15;
    }
    @media screen and(min-width:$desktop) {
      font-size: 58px;
      line-height: 1.14;
    }
  }
  &-text {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.666;
    color: $secondary-text-color;
    @media screen and(min-width:$tablet) {
      font-size: 14px;
      line-height: 1.71;
    }
    @media screen and(min-width:$desktop) {
      font-size: 16px;
      line-height: 1.75;
    }
  }
}
