.collage-test-section {
  height: 200px;
  background-color: #fff5f6;
}

.review-section {
  position: relative;
  padding-top: 154px;
  padding-bottom: 86px;
  background-color: $main-color;

  @media screen and (min-width: $tablet) {
    padding-top: 279px;
    padding-bottom: 197px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 382px;
    padding-bottom: 234px;
  }
}

.review-collage-container {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 122px;
  top: -49px;
  left: 50%;
  transform: translateX(-50%);

  @media screen and (min-width: $tablet) {
    height: 264px;
    top: -105px;
  }

  @media screen and (min-width: $desktop) {
    height: 430px;
    top: -171px;
  }
}

.review-slider {
  background-color: $main-color;
}

.review-slide {
  background-color: $main-color;
}

.review-slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.review-slider .slick-dots button {
  font-size: 0px;
  margin: 0px 9px;
  padding: 0px;
  border: 0px;
  width: 14px;
  height: 14px;
  background-color: #d9d9d9;
}

.review-slider .slick-dots li.slick-active button {
  // background-color: $main-btn-color-focus;
  border-radius: 0%;
  background: url('../images/icons/House.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.review-photo {
  margin: 0px auto 29px;

  @media screen and (min-width: $tablet) {
    margin: 0px auto 19px;
  }

  @media screen and (min-width: $desktop) {
    margin: 0px auto 15px;
  }
}

.review-text-container {
  position: relative;
  background-color: $slider-bg-color;
  padding: 43px 50px 20px;

  @media screen and (min-width: $tablet) {
    padding: 47px 36px 28px 60px;
  }

  @media screen and (min-width: $desktop) {
    padding: 47px 54px 32px 59px;
  }
}

.review-text {
  position: relative;
  z-index: 1;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0.04em;
  text-align: center;
  margin: 0px;
  color: $secondary-text-color;
  background-image: repeating-linear-gradient(
    to bottom,
    #00000000 0px,
    #00000000 27px,
    $mark-color 27px,
    $mark-color 27px,
    #00000000 28px,
    #00000000 31px
  );
  font-size: 12px;
  padding-left: 12px;
  padding-right: 12px;

  @media screen and (min-width: $tablet) {
    font-size: 14px;
    padding-left: 22px;
    padding-right: 22px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 16px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

.review-quotes {
  position: absolute;
  top: 28px;
  left: 61px;
}

.review-dots {
  margin: 28px auto 20px;

  @media screen and (min-width: $tablet) {
    margin: 23px auto 15px;
  }

  @media screen and (min-width: $desktop) {
    margin: 20px auto 12px;
  }
}

.review-reviewer {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  line-height: 1.86;
  letter-spacing: 0.04em;
  text-align: center;
  margin: 0px;
  color: $secondary-text-color;
  font-size: 14px;
  padding-left: auto;
  padding-right: auto;

  @media screen and (min-width: $tablet) {
    font-size: 16px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 20px;
  }
}
